<div class="list row">
  <div class="col-md-6">
    <h4>Card List</h4>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let card of cards">
        {{ card.name }}
        <button routerLink="/cards/{{ card.id }}">EDIT</button>
      </li>
    </ul>
  </div>
</div>

<!-- <div class="container mt-5 mb-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-10">
          <div *ngFor="let card of cards" class="row p-2 bg-white border rounded">
              <div class="col-md-3 mt-1">
                <img  class="img-fluid img-responsive rounded product-image" src="{{card.imageUrl}}">
              </div>
              <div class="col-md-7 mt-1">
                  <div class="d-flex justify-content-between p-price"><span>{{card.name}}</span><span>{{card.manaCost}}</span></div>
                       <p class="text-justify">{{card.text}}<br><br></p>
                  <div class="mt-1 mb-1 spec-1">
                    <span>{{card.power}}</span>
                    <span class="dot"></span>
                    <span>{{card.toughness}}</span>
                  </div>
              </div>
              <div class="col-md-2 mt-1">
                <button type="button" class="btn btn-info">Modifier</button>
                <button type="button" class="btn btn-danger" >Supprimer</button>
            </div>
          </div>
      </div>
    </div>
</div> -->
