  <input
  type="text"
  class="form-control"
  placeholder="Search by text"
  [(ngModel)]="name"
  />
  <div class="input-group-append">
  <button
  class="btn btn-outline-secondary"
  type="button"
  (click)="searchByText()"
  >
  Search
  </button>
  </div>
<div class="container d-flex justify-content-center mt-50">

  <div class="row">
    <div *ngFor="let card of cards" class="col-md-4 mt-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img-actions">
            <img
              src="{{ card.imageUrl }}"
              class="card-img img-fluid"
              width="98"
              height="350"
              alt=""
            />
          </div>
        </div>
        <div class="card-body bg-light text-center">
          <div class="mb-2">
            <h6 class="font-weight-semibold mb-2">
              <a href="#" class="text-default mb-2" data-abc="true">{{
                card.type
              }}</a>
            </h6>
            <a href="#" class="text-muted" data-abc="true">{{ card.name }}</a>
          </div>
          <h3 class="mb-0 font-weight-semibold">{{ card.text }}</h3>
          <div>
            <i class="fa fa-star star"></i> <i class="fa fa-star star"></i>
            <i class="fa fa-star star"></i> <i class="fa fa-star star"></i>
          </div>
          <div * class="text-muted mb-3">
            {{ card.power }} power / {{ card.toughness }} toughness
          </div>
          <button
            type="button"
            class="btn bg-cart"
            routerLink="/cards/{{ card.id }}"
          >
            <fa-icon [icon]="editIcon"></fa-icon> Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
