<div style="width: 500px; margin: auto">
  <div *ngIf="currentCard" class="edit-form">
    <h4>Card</h4>
    <form>
      <div class="form-group">
        <label for="title">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentCard.name"
          name="name"
        />
      </div>
      <div class="form-group">

        <label for="title">Type</label>
        <select id="form_type" name="type" class="form-control">
          <option>{{ currentCard.type }}</option>
          <option>Artefact</option>
          <option>Creature</option>
          <option>Creatue-artefact</option>
          <option>Creature-enchentement</option>
          <option>Instant</option>
          <option>Planeswalker</option>
          <option>Sorcery</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Text</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentCard.text"
          name="text"
        />
      </div>

      <div class="form-group">
        <label for="description">Converted Mana Cost</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentCard.convertedManaCost"
          name="text"
        />
      </div>
      <div class="form-group">
        <label for="description">Power</label>
        <input
          type="text"
          class="form-control"
          id="power"
          [(ngModel)]="currentCard.power"
          name="text"
        />
      </div>
      <div class="form-group">
        <label for="description">Toughness</label>
        <input
          type="text"
          class="form-control"
          id="toughness"
          [(ngModel)]="currentCard.toughness"
          name="text"
        />
      </div>
    </form>
    <button class="badge badge-danger mr-2" (click)="deleteCard()">
      Delete
    </button>
    <button type="submit" class="badge badge-success" (click)="updateCard()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentCard">
    <br />
    <p>This product is not accessible</p>
  </div>
</div>
