body {
  background: #eee
}

.ratings i {
  font-size: 16px;
  color: red
}

.strike-text {
  color: red;
  text-decoration: line-through
}

.product-image {
  width: 100%
}

.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block
}

.spec-1 {
  color: #938787;
  font-size: 15px
}

h5 {
  font-weight: 900
}

.para {
  font-size: 16px
}

.icon-btn{
  min-height:150px;
  background:#f5f5f5;
  float:left;
  margin:10px;
}

.btn-gradient {
  width:40%;
  position: relative;
  display: inline-block;
  left:-20px;
  background: rgba(0, 0, 0, 0.15);
  border-top-right-radius: 60px;
  padding: 8px 24px 8px 16px;
  box-shadow: 2px 0px 0px 0px rgba(78, 72, 72, 0.4);
}

.btn-green{
  font-size:23px;
  padding:0px 20px;
  color: #fff;
  background-color: #47a447;
  border:none;
  justify-content: center;
  align-items: center;
  display: flex;
  width:230px;
}

.btn-pink{
  font-size:23px;
  padding:0px 20px;
  color: #fff;
  background-color: #f11350;
  border:none;
  justify-content: center;
  align-items: center;
  display: flex;
  width:230px;
}
